.footer {
    &__container {
        max-width: 1024px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        padding: 2vw 0 0 1vw;

        img{
            max-width: 160px;
        }
    }
}