.header {
    padding: 7px;
    background-color: transparent;
    height: 70px;
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: background-color .5s ease;
    z-index: 2;

    @media (max-width: 1027px) {
        padding: 7px 25px;
    }

    &--is-hidden {
        visibility: visible;
        background-color: rgba($color: #000, $alpha: .9);
        transition: background-color .5s ease;
    }

    &__container {
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;

        @media (max-width: 768px) {
            justify-content: center;
        }

        img {
            max-width: 300px;
            height: 70px;
            padding: 2px;
            margin: 0;
            visibility: visible;
        }
    }

    &__list {
        display: flex;
        
        &__item {
            margin-left: 8px; 
            background-color: #6b3334;
            border-radius: 4px;
            padding: 15px;
            cursor: pointer;

            @media (max-width: 768px) {
                
                display: none;
                
            }
            
            &:hover {
                background-color: lighten($color: #6b3334, $amount: 5%);
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;   

            }
        }
    }
}