.sobre {
    max-width: 1500px;
    padding: 8vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    align-items: center;
    top: 100;
    
    &__imagem {
        img {
            max-width: 720px;
            width: 100%;
        }
    }

    &__container {
        margin: 0 auto;
        text-align: center;


        h2 {
            padding: 16px;
            font-size: 40px;
            color: #fff;

            @media (max-width: 768px) {
                font-size: 35px;
            }
        }

        p {
            font-size: 24px;
            color: #fff;

            @media (max-width: 768px) {
                font-size: 22px;
            }
        }
    }
}